body {
  font-size: 18px;
  text-align: center;
}

.bold {
  font-weight: 900;
}

.small {
  font-size: 16px;
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

.typed {
  color: white;
  background-color: black;
}
